.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: 70px;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
  }
  
  .navbar.scrolled {
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo a {
    color: var(--green);
    width: 42px;
    height: 42px;
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px solid var(--green);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav-links ol li {
    margin: 0 5px;
    position: relative;
    counter-increment: item 1;
    font-size: 13px;
  }
  
  .nav-links ol li a {
    padding: 10px;
  }
  
  .nav-links ol li a span {
    color: var(--green);
    margin-right: 5px;
    text-align: right;
    font-size: 14px;
  }
  
  .resume-button {
    margin-left: 15px;
  }
  
  .resume-button a {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
  }
  
  .resume-button a:hover,
  .resume-button a:focus {
    background-color: rgba(100, 255, 218, 0.1);
  }
  
  .menu-button {
    display: none;
    position: relative;
    z-index: 12;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 0 25px;
    }
    
    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 50px 10px;
      width: min(75vw, 400px);
      height: 100vh;
      outline: 0;
      background-color: var(--light-navy);
      box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
      z-index: 9;
      transform: translateX(100%);
      visibility: hidden;
      transition: var(--transition);
    }
    
    .nav-links.open {
      transform: translateX(0);
      visibility: visible;
    }
    
    .nav-links ol {
      flex-direction: column;
      text-align: center;
      width: 100%;
    }
    
    .nav-links ol li {
      margin: 0 auto 15px;
      width: 100%;
      font-size: 18px;
    }
    
    .nav-links ol li a {
      display: inline-block;
      padding: 15px 0;
      width: 100%;
    }
    
    .resume-button {
      margin: 20px auto 0;
    }
    
    .menu-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 10;
      margin-right: -15px;
      padding: 15px;
      border: 0;
      background-color: transparent;
      color: inherit;
      text-transform: none;
      transition-timing-function: linear;
      transition-duration: 0.15s;
      transition-property: opacity, filter;
    }
    
    .ham-box {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 24px;
    }
    
    .ham-box-inner {
      position: absolute;
      top: 50%;
      right: 0;
      width: 30px;
      height: 2px;
      border-radius: 4px;
      background-color: var(--green);
      transition-duration: 0.22s;
      transition-property: transform;
      transition-delay: ${props => (props.menuOpen ? `0.12s` : `0s`)};
      transform: rotate(${props => (props.menuOpen ? `225deg` : `0deg`)});
      transition-timing-function: cubic-bezier(
        ${props => (props.menuOpen ? `0.215, 0.61, 0.355, 1` : `0.55, 0.055, 0.675, 0.19`)}
      );
    }
    
    .ham-box-inner::before,
    .ham-box-inner::after {
      content: '';
      display: block;
      position: absolute;
      left: auto;
      right: 0;
      width: 30px;
      height: 2px;
      border-radius: 4px;
      background-color: var(--green);
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
    }
    
    .ham-box-inner::before {
      width: ${props => (props.menuOpen ? `100%` : `120%`)};
      top: ${props => (props.menuOpen ? `0` : `-10px`)};
      opacity: ${props => (props.menuOpen ? 0 : 1)};
      transition: ${({ menuOpen }) =>
        menuOpen ? 'var(--ham-before-active)' : 'var(--ham-before)'};
    }
    
    .ham-box-inner::after {
      width: ${props => (props.menuOpen ? `100%` : `80%`)};
      bottom: ${props => (props.menuOpen ? `0` : `-10px`)};
      transform: rotate(${props => (props.menuOpen ? `-90deg` : `0`)});
      transition: ${({ menuOpen }) =>
        menuOpen ? 'var(--ham-after-active)' : 'var(--ham-after)'};
    }
  }