.inline-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}

.inline-link:hover,
.inline-link:focus {
  color: var(--green);
  outline: 0;
}

.inline-link:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.25em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}

.inline-link:hover:after,
.inline-link:focus:after {
  width: 100%;
}.projects-section .section-title {
  font-size: clamp(40px, 5vw, 60px);
  margin: 0 0 40px;
  color: var(--lightest-slate);
}

.projects-section {
  max-width: 1000px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
  margin-top: 50px;
}

.project-card {
  position: relative;
  cursor: default;
  transition: var(--transition);
}

.project-card:hover {
  transform: translateY(-7px);
}

.project-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: 4px;
  background-color: var(--light-navy);
  transition: var(--transition);
}

.project-content:hover {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.folder-icon {
  color: var(--green);
  width: 40px;
  height: 40px;
}

.project-links {
  display: flex;
  align-items: center;
  margin-right: -10px;
  color: var(--light-slate);
}

.project-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
}

.github-icon,
.external-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.project-title {
  margin: 0 0 10px;
  color: var(--lightest-slate);
  font-size: 22px;
}

.project-description {
  color: var(--light-slate);
  font-size: 17px;
  line-height: 1.5;
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0 10px;
  padding: 0;
  list-style: none;
}

.project-tech-list li {
  margin: 0 15px 5px 0;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: 13px;
  white-space: nowrap;
}

@media (max-width: 1080px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}