@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600&display=swap');

:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  
  --font-sans: 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  --font-mono: 'Roboto Mono', 'SF Mono', 'Fira Code', 'Fira Mono', monospace;
  
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: 20px;
  line-height: 1.3;
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

p {
  margin: 0 0 15px 0;
}

img,
svg {
  width: 100%;
  max-width: 100%;
}

img[alt=""],
img:not([alt]) {
  filter: blur(5px);
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

a:hover,
a:focus {
  color: var(--green);
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

input, textarea {
  border-radius: 0;
  outline: 0;
}

input:focus,
textarea:focus {
  outline: 0;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

p a {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
}

p a:hover,
p a:focus {
  color: var(--green);
}

p a:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.25em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}

p a:hover:after,
p a:focus:after {
  width: 100%;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--lightest-navy);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

@media (max-width: 1080px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}